body{
    font-family: 'Ubuntu', sans-serif;
    margin: 1%;
}


.orange-colour{
    color: orange;
}

.flex-section{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 40%;
   padding:5%;
}
#top-txt{
    padding-top: 10%;
}
h1{
    font-size: 50px;
}
.half-width img{
    width: 100%;
}

.button-colour{
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
}

#contact-banner{
    background-image:url(images/banner/7.png);
    background-size: cover;
    background-repeat: round,no-repeat;
    
}
 .mid-photo{
    margin-left: 40%;
     
 }

.mid-txt{
    position: center;
    padding-left: 20%;
    padding-top: 13%;
}

.receipe-containter{
    width: 40%;
    height: 20%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px  grey;
}

.food-con{
    padding-left: 5%;
    padding-right: 5%; 
}

.food-pic{
 margin: auto;
    width: 310px;
    height: 300px;
    border-radius: 10%;
    

}

.food-section-title{
    text-align: center;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.food-desc{
    text-align: left;
    margin: 5%;
}
.stats-section{

    width: auto;
    height: auto;
    margin-left: 6%;
    margin-right: 6%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px  grey;
}

.stats-txt{
  display: flex;
  padding-left: 20%;
   
}
.youtube{
    width: 33.33%;
    
    
}
.fb{
    width:33.33%;
    
}
.insta{
    width: 33.33%;
}