body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0%;
}

ul{
    list-style-type: none;
    margin-top: auto;
    padding: 10px;
    overflow: hidden;
    background-image: linear-gradient(orange,tomato);
    
}
li{
    
    font-size: large;
    float: right;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}
.orange-colour{
    color: orange;
}

.flex-section{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 40%;
   padding:5%;
}
#top-txt{
    padding-top: 10%;
}
h1{
    font-size: 50px;
}
.half-width img{
    width: 100%;
}

.button-colour{
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
}

#contact-banner{
    background-image:url(images/banner/7.png);
    background-size: cover;
    background-repeat: round,no-repeat;
    
}
 .mid-photo{
    margin-left:90%;
     
 }

.mid-txt{

    position: center;
    justify-content: center;
    padding-left: 30%;
    padding-top: 8%;
}

.receipe-containter{
    width: 25%;
    border: 1px;
    margin-left: 6%;
    
    
    border-radius: 20px;
    box-shadow: 10px 10px 20px  grey;
}

#receipe-containter{
  
width: 25%;
border:1px solid rgb(223, 223, 223);
border-radius: 20px;
margin-left: 6% ;
box-shadow: 0 0 4px rgb(48, 48, 48);}
}

.food-con{
    text-align: justify;
    margin-right: auto;
   padding-left: 5%;
   margin-left: 10%;
   
}

.food-pic{
 
 padding: 7%;
    width: 400px;
    height: 350px;
    border-radius: 15%;
    

}

.food-section-title{
    
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.head-1{
    text-align: center;
}
.head-p{
    text-align: center;
}
.food-desc{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    
}
.stats-section{

    width: auto;
    height: auto;
    margin-left: 8%;
    margin-right: 10%;
    margin-bottom: 6%;
    
    border-radius: 20px;
    box-shadow: 10px 10px 20px  grey;
}

.stats-txt{
  display: flex;
  padding-left: 20%;
  
   
}
.youtube{
    width: 33.33%;
    
    
}
.fb{
    width:33.33%;
    
}
.insta{
    width: 33.33%;
}
footer{
    background-color: black;
    height: 250px;
}
.foot-txt{
    padding-top: 5%;
    text-align: center;
    color: white;
}